body {
    font-family: sans-serif;
    background: rgb(255, 254, 254);
    background: linear-gradient(90deg, rgba(255, 254, 254, 1) 0%, rgba(218, 218, 218, 1) 63%, rgba(140, 140, 140, 1) 100%);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: royalblue;
}

h2 {
    color: slateblue;
    font-family: 'Courier New', Courier, monospace;
}

b {
    color: slateblue;
}

#profileImg {
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

#profileIcon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.links:hover {
    text-decoration: underline;
}

.links {
    text-decoration: none;
}

body h1::first-letter {
    color: blue;
    padding: 0 .3rem;
    margin: 0 .3rem 0 0;
    border: 2px solid;
    border-radius: 8px;
    font-family: "IBM Plex Mono";
    font-size: 4rem;
    line-height: 1;
}

dl {
    font-size: 12px;
}

dl dt {
    font-weight: bold;
    color: tomato;
}

dl dd {
    font-weight: bold;
}