#outer {
    border: 2px dashed black;
    padding: 10px;
    overflow: auto;
}

.box {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 10px;
    float: left;
}

.new-line {
    clear: left;
}