<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>

<body>
    <div class="main">
        <% for (let i=0;i<products.length;i++) {%>
            <div class="container">
                <div>Product Name:

                    <a href="/product?id= <%=products[i].id %>">
                        <%=products[i].name %>
                    </a>

                </div>

                <div>Price: $
                    <%=products[i].price %>
                </div>

            </div>
            <%} %>
    </div>
</body>

</html>