<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Magic 8!!!</title>

    <link href="/css/style.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
</head>

<body>
    <h1>Magic 8</h1>
    <form id="magic8">
        <div>
            <input type="text" id="question" />
        </div>
        <div>
            <input type="submit" id="btn" value="Ask" />
        </div>
    </form>
</body>

</html>