#banner {
    background-image: url("./images/bannerbg.png");
    height: 50px;
}

#banner img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-image: url("./images/background.png");
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-size: 24pt;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}

#content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: auto;
}

#ratingHeader {
    width: 550px;
    background-image: url("./images/rbg.png");
    float: left;
    height: 83px;
    border-top-left-radius: 20px;
    margin: 0px;
    padding: 0px;
}

#ratingImage {
    border-radius: 20px;
    border-top-left-radius: 20px;
}

#ratingNumber {
    font-size: 48pt;
    color: red;
    vertical-align: top;
}

.sidebar {
    float: right;
    width: 250px;
    background-color: #A2B964;
    border-top-right-radius: 20px;
}

.txt {
    padding: 10pt;
    margin-top: 0px;
    font-family: Arial, sans-serif;
}

#overviewImage {
    border-top-right-radius: 20px;
}

.critic {
    clear: left;
    width: 550px;
}

#critic1 {
    float: left;
    width: 50%;
}

#critic2 {
    float: right;
    width: 50%;
}

.critic-review-section {
    margin: 10px 10px 20pt 10px;
}

.critic-review {
    font-size: 8pt;
    background-color: #E8DC9B;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
    overflow: auto;
}

.critic-review img {
    margin-right: 5px;
    float: left;
}

.critic-user img {
    margin-right: 5px;
    float: left;
}

.publication {
    font-style: italic;
}

.footer {
    clear: left;
    clear: right;
    background-color: #A2B964;
    height: 20px;
    text-align: center;
}

dt {
    font-weight: bold;
}

dd {
    margin-bottom: 10pt;
}

q {
    font-weight: bold;
}

dl ul {
    padding: 0;
    list-style-type: none;
}

.page {
    padding-top: 2px;
}

.validator {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 50%;
}